body {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-family: "Lato", sans-serif;
  background: #969696;
}
