#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid red; */
}

.task-style {
  border: 1px solid green;
  width: 100%;
}

.field {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-bottom: 20px;
}

.field label {
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.25s;
  margin-bottom: 20px;
}

button:hover {
  /* background-color: lightgreen; */
  opacity: 0.8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
